ManejoAPI-H4.json
{
    "name": "Integration Webhooks, OpenAI (ChatGPT, Whisper, DALL-E), JSON",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 150112,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -99,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Formatear Requerimientos"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "value",
                        "type": "buffer"
                    },
                    {
                        "name": "Regiones-nuevo",
                        "type": "text"
                    },
                    {
                        "name": "Objetivo-nuevo",
                        "type": "text"
                    },
                    {
                        "name": "Descripcion-nuevo",
                        "type": "text"
                    },
                    {
                        "name": "Url",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 646208
            },
            "mapper": {
                "model": "gpt-4o-mini",
                "top_p": "1",
                "select": "chat",
                "messages": [
                    {
                        "role": "user",
                        "content": "Considerando las regiones de Chile:\n\n\tRegión de Arica y Parinacota: Arica\n\tRegión de Tarapacá: Iquique\n\tRegión de Antofagasta: Antofagasta\n\tRegión de Atacama: Copiapó\n\tRegión de Coquimbo: La Serena\n\tRegión de Valparaíso: Valparaíso\n\tRegión Metropolitana: Santiago\n\tRegión del Libertador General Bernardo O’Higgins: Rancagua\n\tRegión del Maule: Talca\n\tRegión de Ñuble: Chillán\n\tRegión del Biobío: Concepción\n\tRegión de La Araucanía: Temuco\n\tRegión de Los Ríos: Valdivia\n\tRegión de Los Lagos: Puerto Montt\n\tRegión de Aysén del General Carlos Ibáñez del Campo: Coyhaique\n\tRegión de Magallanes y de la Antártica Chilena: Punta Arenas\n\nY algunas de las ciudades mas importantes:\n\n\tGran Santiago (C)\tSantiago\t\n\tGran Valparaíso (C)\tValparaíso\t\n\tGran Concepción (C)\tBiobío\t\n\tGran La Serena (C)\tCoquimbo\t\n\tAntofagasta (C)\tAntofagasta\t\n\tGran Temuco (C)\tAraucanía\t\n\tGran Iquique (C)\tTarapacá\t\n\tGran Rancagua (C)\tO'Higgins\t\n\tGran Puerto Montt (C)\tLos Lagos\t\n\tTalca (C)\tMaule\t\n\tArica (C)\tArica y Parinacota\t\n\tGran Chillán (C)\tÑuble\t\n\tLos Ángeles\tBiobío\t\n\tCalama\tAntofagasta\t\n\tColina\tSantiago\t\n\tGran Quillota\tValparaíso\t\n\tValdivia (C)\tLos Ríos\t\n\tOsorno\tLos Lagos\t\n\tCopiapó (C)\tAtacama\t\n\tCuricó\tMaule\t\n\tMelipilla\tSantiago\t\n\tPunta Arenas (C)\tMagallanes\t\n\tLampa\tSantiago\t\n\tGran San Antonio\tValparaíso\t\n\tOvalle\tCoquimbo\t\n\tBuin\tSantiago\t\n\tPeñaflor\tSantiago\t\n\tLinares\tMaule\t\n\tPaine\tSantiago\t\n\tLos Andes-Calle Larga\tValparaíso\t\n\tSan Felipe\tValparaíso\t\n\tTalagante\tSantiago\t\n\tSan Fernando\tO'Higgins\t\n\tRengo\tO'Higgins\t\n\tCoyhaique (C)\tAysén\t\n\tVillarrica\tAraucanía\t\n\tVallenar\tAtacama\t\n\tSan Carlos\tÑuble\t\n\tAngol\tAraucanía\t\n\tSan Vicente\tO'Higgins\t\n\tConstitución\tMaule\t\n\tLimache\tValparaíso\t\n\tCauquenes\tMaule\t\n\tSan Javier\tMaule\t\n\t\nMencionar que en caso de que se mencionen regiones externas a Chile se debe contar como input invalido\nConsiderando los siguientes datos \"Regiones\":{{1.Regiones}}, \"Objetivo\":{{1.Objetivo}}, \"Descripcion\": {{1.Descripcion}} \"Url\":{{1.Url}}\nRetorna SOLO un json de la forma:{\"Regiones-nuevo\":regiones, \"Objetivo-nuevo\":objetivo, \"Descripcion-nuevo\": Descripcion, \"Url\":{{1.Url}}}\nDe forma que tu respuesta solo sea esta: json{\"Regiones-nuevo\":regiones, \"Objetivo-nuevo\":objetivo, \"Descripcion-nuevo\": Descripcion, \"Url\":{{1.Url}}}\nFormateando la siguiente forma con la informacion dada, por ejemplo:\n\t{\"Regiones-nuevo\":Arica y Parinacota-Los Lagos, \"Objetivo-nuevo\":Repoblar la fauna, \"Descripcion-nuevo\": se desea repoblar la fauna de la forma mas rapida debido a un incendio, \"Url\":Url}\n\tEn otras palabras:\n\t\t\"Regiones-nuevo\"->Toma las regiones y las formatea segun corresponda(separadas entre guiones)\n\t\t\"Objetivo-nuevo\"->Toma objetivos y descripcion proporcionadas y a partir de estos abstrae el objetivo. \n\t\t\"Descripcion-nuevo\"-> Toma objetivos y descripcion proporcionadas y a partir de estos abstrae la descripcion general. \n\t\t\n\t\tSi el input no contiene regiones validas enviar a traves de \"Regiones-nuevo\" solo un 0\n\t\tSi el input no se puede formar un objetivo insertar en \"Objetivo-nuevo\" un 0. misma logica para \"Descripcion-nuevo\"",
                        "imageDetail": "auto"
                    }
                ],
                "max_tokens": "2048",
                "temperature": "1",
                "n_completions": "1",
                "response_format": "text"
            },
            "metadata": {
                "designer": {
                    "x": 207,
                    "y": -9
                },
                "restore": {
                    "expect": {
                        "stop": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o-mini (system)"
                        },
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    }
                                }
                            ]
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "Text"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "My OpenAI connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability"
                        },
                        "type": "array",
                        "label": "Token Probability"
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Stop Sequence"
                        },
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter"
                        },
                        "type": "array",
                        "label": "Other Input Parameters"
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "options": {
                                        "store": [
                                            {
                                                "label": "System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "options": [
                                                            {
                                                                "label": "URL",
                                                                "value": "url",
                                                                "nested": [
                                                                    {
                                                                        "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                                                        "name": "imageUrl",
                                                                        "type": "url",
                                                                        "label": "Image URL"
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "label": "Image File",
                                                                "value": "file",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "spec": [
                                                                            {
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ]
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ],
                                                                        "type": "collection",
                                                                        "label": "Image"
                                                                    }
                                                                ]
                                                            }
                                                        ],
                                                        "mappable": false
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "options": [
                                                            {
                                                                "label": "Auto",
                                                                "value": "auto",
                                                                "default": true
                                                            },
                                                            {
                                                                "label": "High",
                                                                "value": "high"
                                                            },
                                                            {
                                                                "label": "Low",
                                                                "value": "low"
                                                            }
                                                        ],
                                                        "advanced": true
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Message"
                        },
                        "type": "array",
                        "label": "Messages",
                        "required": true
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{4.result}}"
            },
            "metadata": {
                "designer": {
                    "x": 524,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "http:ActionSendData",
            "version": 3,
            "metadata": {
                "designer": {
                    "x": 859,
                    "y": -18,
                    "messages": [
                        {
                            "category": "setup",
                            "severity": "error",
                            "message": "Value must not be empty."
                        }
                    ]
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [],
            "notes": [
                {
                    "id": 7,
                    "text": "Recibe el json y lo envía a la URL proporcionada inicialmente a través del método POST",
                    "filter": false
                },
                {
                    "id": 5,
                    "text": "Recibe la respuesta del modulo de ChatGPT y lo pasa de texto plano a json.",
                    "filter": false
                },
                {
                    "id": 4,
                    "text": "Pasa el prompt combinado con los inputs mencionados, a partir de esto los formatea de la forma mencionada. En caso de encontrar algún tipo de error enviara flags a través de las variables para no realizar la inserción en la base de datos.",
                    "filter": false
                },
                {
                    "id": 1,
                    "text": "Recibe los parámetros de la siguiente forma:\n{\n\"Regiones\": Regiones ingresadas,\n\"Objetivo\": Objetivo ingresado,\n\"Descripcion\": Descripción ingresada,\n\"Url\": Url donde se volverá a enviar la data a través de un método POST\n}",
                    "filter": false
                }
            ]
        },
        "zone": "us2.make.com"
    }
}